* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 1rem;
  background-color:#303841 ;
  font-family: "Poppins", sans-serif;
}
.body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  color: white;
   font-weight: 300;
}
#card-password{
 background-color:#022042 ;
 padding: 1em 1.9em;
 display: flex;
 flex-direction: column;
}

.copy{
 width: 1rem;
}
.ayoub > input{
 width: 100%;
 background: none;
 border: none;
 background-color:#005ac2  ;
 padding: 0.5rem;
}

.ayoub > span  {
  background: none;
  border: none;
 
}

.ayoub > span > button {
 padding: 0.7rem;
 background-color: #90baeb;
 border: none;
}

.ayoub > span > button:hover {
 background-color: rgb(124, 112, 119);
} 

.ayoub{
 display: flex;
 justify-content: space-around;
 border-radius: 13px;
}
#copyIn {
   color: aliceblue;
  font-size: 1rem;
  outline: none;
  border-radius: 13px 0 0 13px;
}
   


#card-password > h1 {
 font-size: 2rem;
 font-weight: 500;
 padding: 0.7rem 0rem;
 color: white;
}  
.div {
  display: flex;
  justify-content: space-between;
  margin: 1.3rem 0rem;
}
.Length {
  width: 4rem;
  outline: none;
}
.btn-gen {
 background-color: rgb(245, 245, 245);
 padding: 1rem 1.8rem;
 outline: none;
 border-radius: 1rem;
}
.btn-gen:hover {
background-color:#0b396d;
color: white;
}

.copyR {
color: white;
margin-top: 2rem;
}
.copyR > a {
text-decoration: none;
} 